FLASK_ENV=development
PORT=5000
GEMINI_API_KEY=AIzaSyAT-VdVFcqKyc9V7xcUEA-pptU6JZU6Ub4
SUPABASE_URL=https://nacasrkaztcarnlyqjsg.supabase.co
SUPABASE_KEY=sb_publishable_pj8um0_2Y4Edtt9LkOaTRA_oFIz9Yof
